<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/home">Home</a>
    </div>
</nav>
<div class="container-fluid">
    <h1 align="center">Welcome to Website Studio!</h1>
    <h3 align="center">A tool for easily putting together responsive, mobile first sites</h3>
    <div class="form-group">
        <a href="#/login" class="btn btn-block btn-primary btn-block">Login</a>
    </div>
    <div class="form-group">
        <a href="#/register" class="btn btn-block btn-success btn-block">Register</a>
    </div>
</div>