<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-md visible-lg split-view-left">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a href="website-list.html" class="navbar-text fa fa-chevron-left fa-lg"></a>
                    <a class="navbar-brand" href="#">Websites</a>
                </div>
                <div class="navbar-header pull-right">
                    <a href="website-new.html" class="navbar-text fa fa-plus fa-lg"></a>
                </div>
            </nav>

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-xs-12 split-view-right">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">Edit Website</a>
                </div>
                <div class="navbar-header pull-right">
                    <a href="website-list.html" class="navbar-text fa fa-check fa-lg"></a>
                </div>
            </nav>
            <label for="name">Name</label>
            <input name="name" id="name" type="text" value="Mapquest" class="form-control form-group" />
            <label for="description">Description</label>
            <textarea name="description" id="description" type="text" rows="10" class="form-control form-group">Finally you will never need to buy an atlas again thanks to the state of the art technology of Mapquest!</textarea>
            <a href="website-list.html" class="btn btn-danger btn-block">Delete Website</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <a href="profile.html" class="navbar-text fa fa-user fa-lg"></a>
    </div>
</nav>