<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a ng-click="model.goToPages()" class="navbar-text fa fa-chevron-left fa-lg"></a>
        <a class="navbar-brand" href="#/home">Widgets</a>
    </div>
    <div class="navbar-header pull-right">
        <a ng-click="model.goToNewWidget()" class="navbar-text fa fa-plus fa-lg"></a>
    </div>
</nav>

<ul class="widget-list">
    <li ng-cloak ng-repeat="widget in model.widgets" class="widget">
        <div ng-include="model.getWidgetIncludeUrl(widget.widgetType)"></div>
        <div class="widget-toolbar">
            <a ng-click="model.goToEditWidget(widget)" class="fa fa-cog"></a>
            <a href="#" class="fa fa-arrows"></a>
        </div>
    </li>
</ul>

<div ng-include="'views/components/templates/bottom-nav.component.client.html'"></div>
