<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <a ng-click="model.goToPageList()" class="navbar-text fa fa-chevron-left fa-lg"></a>
        <a class="navbar-brand" href="#/home">Choose Widget</a>
    </div>
</nav>

<ul class="list-group">
    <li class="list-group-item"><a ng-click="model.createHeader()">Header</a></li>
    <li class="list-group-item"><a href="#">Label</a></li>
    <li class="list-group-item"><a ng-click="model.createHtml()">HTML</a></li>
    <li class="list-group-item"><a ng-click="model.createInput()">Text Input</a></li>
    <li class="list-group-item"><a href="#">Link</a></li>
    <li class="list-group-item"><a href="#">Button</a></li>
    <li class="list-group-item"><a ng-click="model.createImage()">Image</a></li>
    <li class="list-group-item"><a ng-click="model.createYoutube()">YouTube</a></li>
    <li class="list-group-item"><a href="#">Data Table</a></li>
    <li class="list-group-item"><a href="#">Repeater</a></li>
</ul>

<div ng-include="'views/components/templates/bottom-nav.component.client.html'"></div>
