<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header pull-left">
    <a href="widge-list.html" class="navbar-text fa fa-chevron-left fa-lg"></a>
    <a class="navbar-brand" href="#">Edit Widget</a>
  </div>
  <div class="navbar-header pull-right">
    <a href="widget-list.html" class="navbar-text fa fa-check fa-lg"></a>
  </div>
</nav>

<div class="container-fluid">
  <label for="name">Name</label>
<input name="name"
          id="name"
          type="text"
          value="My header"
          class="form-control form-group"/>
<label for="text">Text</label>
<input name="text"
          id="text"
          type="text"
          value="I am a big header!"
          class="form-control form-group"/>
<label for="size">Size</label>
<input name="size"
          id="size"
          list="sizes"
          type="number"
          class="form-control form-group"/>
<datalist id="sizes">
  <option value="1">
  <option value="2">
  <option value="3">
  <option value="4">
  <option value="5">
  <option value="6">
</datalist>
<div class="form-group">
    <a href="widget-list.html" class="btn btn-danger btn-block">Delete Header</a>
</div>
</div>

<div ng-include="'views/components/bottom-nav.component.client.html'"></div>
