<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-md visible-lg split-view-left">
           <div ng-controller="WebsiteListController as model" ng-include="'views/website/templates/website-list.view.client.html'" class="partial-nav"></div>
        </div>

        <div class="col-md-9 col-xs-12 split-view-right">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#/home">New Website</a>
                </div>
                <div class="navbar-header pull-right">
                    <a ng-click="model.createNewWebsite(website)" class="navbar-text fa fa-check fa-lg"></a>
                </div>
            </nav>
            <label for="name">Name</label>
            <input ng-model="website.name"
                   name="name"
                   id="name"
                   type="text"
                   placeholder="Website Name"
                   class="form-control form-group" />
            <label for="description">Description</label>
            <textarea ng-model="website.description"
                      name="description"
                      id="description"
                      type="text"
                      placeholder="Description"
                      rows="10"
                      class="form-control form-group">{{website.description}}</textarea>
            <div ng-if="model.emptyFields" class="alert alert-danger">Both Name and Description are required fields</div>
        </div>
    </div>
</div>

<div ng-include="'views/components/templates/bottom-nav.component.client.html'"></div>
