<div ng-include="'views/website/component/website-list-header.component.client.html'"></div>

<ul class="list-group">
    <li ng-repeat="website in model.websites" class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a ng-click="model.goToWebsitePages(website)">{{website.name}}</a>
            </div>
            <div class="col-xs-2">
                <a ng-click="model.goToEditWebsite(website)" class="pull-right fa fa-cog"></a>
            </div>
        </div>
    </li>
</ul>

<div ng-include="'views/components/templates/bottom-nav.component.client.html'"></div>
