<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-md visible-lg split-view-left">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a href="website-list.html" class="navbar-text fa fa-chevron-left fa-lg"></a>
                    <a class="navbar-brand" href="#">Websites</a>
                </div>
                <div class="navbar-header pull-right">
                    <a href="#" class="navbar-text fa fa-plus fa-lg"></a>
                </div>
            </nav>

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Friendster</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Mapquest</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">Ask.com</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="page-list.html">AOL</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-xs-12 split-view-right">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">New Website</a>
                </div>
                <div class="navbar-header pull-right">
                    <a href="website-list.html" class="navbar-text fa fa-check fa-lg"></a>
                </div>
            </nav>
            <label for="name">Name</label>
            <input ng-model="model.website.name"
                   name="name"
                   id="name"
                   type="text"
                   placeholder="Website Name"
                   class="form-control form-group" />
            <label for="description">Description</label>
            <textarea ng-model="model.website.description"
                      name="description"
                      id="description"
                      type="text"
                      placeholder="Description"
                      rows="10"
                      class="form-control form-group"></textarea>
        </div>
    </div>
</div>

<div ng-include="'views/components/templates/bottom-nav.component.client.html'"></div>
