<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-md visible-lg split-view-left">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a href="page-list.html" class="navbar-text fa fa-chevron-left fa-lg"></a>
                    <a class="navbar-brand" href="#">Pages</a>
                </div>
                <div class="navbar-header pull-right">
                    <a href="page-new.html" class="navbar-text fa fa-plus fa-lg"></a>
                </div>
            </nav>

            <ul class="list-group">

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Home</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">About Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">News</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Contact Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Home</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">About Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">News</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Contact Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Home</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">About Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">News</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Contact Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Home</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">About Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">News</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Contact Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Home</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">About Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">News</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Contact Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Home</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">About Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">News</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="widget-list.html">Contact Us</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="page-edit.html" class="pull-right fa fa-cog"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-xs-12 split-view-right">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">Edit Page</a>
                </div>
                <div class="navbar-header pull-right">
                    <a href="page-list.html" class="navbar-text fa fa-check fa-lg"></a>
                </div>
            </nav>
            <label for="name">Page Name</label>
            <input name="name" id="name" type="text" value="About Us" class="form-control form-group" />
            <label for="title">Page Title</label>
            <input name="title" id="title" type="text" value="Lorem Ipsum" class="form-control form-group" />
            <a href="page-list.html" class="btn btn-danger btn-block">Delete Page</a>
        </div>
    </div>
</div>

<div ng-include="'views/components/bottom-nav.component.client.html'"></div>

