<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-md visible-lg split-view-left">
            <div ng-controller="PageListCtrl as model" ng-include="'views/page/templates/page-list.view.client.html'" class="partial-nav"></div>
        </div>

        <div class="col-md-9 col-xs-12 split-view-right">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#/home">Edit Page</a>
                </div>
                <div class="navbar-header pull-right">
                    <a ng-click="model.createNewPage(page)" class="navbar-text fa fa-check fa-lg"></a>
                </div>
            </nav>
            <label for="name">Name</label>
            <input ng-model="model.page.name"
                   name="name"
                   id="name"
                   type="text"
                   class="form-control form-group" />
            <label for="title">Title</label>
            <input ng-model="model.page.title"
                   name="title"
                   id="title"
                   type="text"
                   class="form-control form-group" />
            <a ng-click="model.deletePage()" class="btn btn-danger btn-block">Delete Page</a>
            <div ng-if="model.emptyFields" class="alert alert-danger">Both Name and Title are required fields</div>
        </div>
    </div>
</div>

<div ng-include="'views/components/templates/bottom-nav.component.client.html'"></div>
